/* 图标 */

@font-face {
  font-family: 'iconfont';
  /* project id 669713 */
  src: url('//at.alicdn.com/t/font_669713_r7pgq0vmjqc.eot');
  src: url('//at.alicdn.com/t/font_669713_r7pgq0vmjqc.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_669713_r7pgq0vmjqc.woff2') format('woff2'), url('//at.alicdn.com/t/font_669713_r7pgq0vmjqc.woff') format('woff'), url('//at.alicdn.com/t/font_669713_r7pgq0vmjqc.ttf') format('truetype'), url('//at.alicdn.com/t/font_669713_r7pgq0vmjqc.svg#iconfont') format('svg');
}

/*载入字体*/

@font-face {
  font-family: 'JournalRegular';
  src: url('../font/CHERI___.TTF');
  font-weight: normal;
  font-style: normal;
}

.self-design {
  font-family: "JournalRegular" !important;
  font-size: 16px;
  font-style: normal;
  z-index: 10001;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  background: #f7d7da;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  touch-action: none;
}

p,
div,
li,
ul {
  margin: 0;
  padding: 0;
}

/* 音频模块 */

.music {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 4vw;
  right: 3.5vh;
  /* background-image: url("../img/music.svg"); */
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  /* touch-action: none; */
  cursor: pointer;
  z-index: 10000;
}

.music>.iconfont {
  font-size: 19px;
  color: #fff;
  cursor: pointer;
  animation: rotating 1.2s linear infinite;
  animation-play-state: paused;
}

.music>.iconfont.rotate {
  animation-play-state: running;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.hide {
  display: none;
}

.video {
  width: 100%;
  height: 100%;
}

/* 图片{模块 */

.banner {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 75vw;
  max-height: 40vh;
  min-height: 200px;
  max-width: 600px;
  /* width: 75%; */
  margin: 5vh;
  border: 10px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center
}

.ovh {
  overflow: hidden;
}

.banner .img-intro {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5px;
  left: 0;
  font-size: 15px;
  color: #fff
}

.banner img {
  width: 100%;
}

/* 日期模块 */

.date {
  position: relative;
  text-align: center;
}

.date-icon::after {
  content: attr(data-text);
  position: absolute;
  color: white;
  font-size: 14px;
  top: 45px;
  left: 0;
}

.intro {
  font-size: 20px;
  margin-bottom: 20px;
  color: #3E4149;
  position: relative;
  left: -10px;
}

.date>span {
  font-size: 36px;
  position: relative;
  color: #3E4149;
}

.date-text {
  color: white;
  font-size: 14px;
  word-spacing: 20px;
  margin: 0;
  font-weight: lighter;
  position: relative;
  left: 14px;
}

.svg {
  margin-top: 50px;
  width: 150px;
  height: 73px;
}

.our-name {
  position: relative;
  font-size: 32px;
  margin-top: 20px;
  color: #1c1c1d;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.our-name>span {
  color: #ff9999;
  font-size: 48px;
}